/* Common */
.row{
    margin: 0 -8px;
}

.row::after{
    content: "";
    display: block;
    clear: both;
}

.col{
    float: left;
    padding: 0 8px;
}

.col-haft{
    width: 50%;
}

.col-third{
    width: 33.33333%;
}

.col-full{
    width: 100%;
}

.clear{
    clear: both;
}

.text-white{
    color: #fff !important;
}

.text-center{
    text-align: center !important;
}

.mt-8{
    margin-top: 8px !important;
}

.mt-16{
    margin-top: 16px !important;
}

/* main */
.content .content-section{
    width: 800px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 64px 16px 112px 16px;
}

.content-section .section-heading{
    font-size: 30px;
    font-weight: 500;
    text-align: center;
    letter-spacing: 4px;
}

.content-section .section-sub-heading{
    font-size: 15px;
    text-align: center;
    margin-top: 25px;
    font-style: italic;
    opacity: 0.6;
}

.content-section .about-text{
    margin-top: 25px;
    font-size: 15px;
    text-align: justify;
    line-height: 1.4;
}

.content .member-list{
    margin-top: 48px;
}



.content .member-name{
    font-size: 15px;
}

.content .member-img{
    margin-top: 15px;
    width: 60%;
    border-radius: 4px;
}

/* tour-section */

.tour-section{
    background-color: #000;
}

.tickets-list{
    background-color: #fff;
    margin-top: 40px;
    list-style-type: none;
}

.tickets-list li{
    color: #757575;
    font-size: 15px;
    padding: 11px 16px;
    border-bottom: 1px solid #ddd;
    text-align: left;
}

.tickets-list .sold-out{
    background-color: #f44336;
    color: #fff;
    padding: 3px 4px;
    margin-left: 16px;
}

.tickets-list .quantity{
width: 24px;
height: 24px;
background-color: #000;
color: #fff;
float: right;
border-radius: 50%;
text-align: center;
line-height: 24px;
margin: -3px;
}

/* Place */

.place-list{
    margin-top: 32px;
}

.place-img{
    width: 100%;
    display: block;
}
.place-img:hover{
    opacity: 0.6;
}
.place-body{
    background-color: #fff;
    padding: 16px;
    font-size: 15px;
    text-align: left;
}
.place-heading{
    font-size: 15px;
    font-weight: 600;
}
.place-time{
    margin-top: 15px;
    color: #757575;
}
.place-desc{
    margin-top: 15px;
    line-height: 1.4;
}
.place-buy-btn{
    color: #fff;
    border: none;
    background-color: #000;
    text-decoration: none;
    display: inline-block;
    padding: 10px 16px;
    margin-top: 15px;
}

.place-buy-btn:hover{
    color: #000;
    border: none;
    background-color: #ccc;
    font-weight: 500;
}

/* contact form */

.contact-content{
    margin-top: 48px;
}

.contact-info{
    font-size: 18px;
    line-height: 1.5;
}

.contact-info i[class*="fa-"] {
    width: 30px;
    display: inline-block;
}

p.info{
    text-align: left;
}

.contact-form{
    font-size: 15px;
}

.contact-form .form-control{
    padding: 10px;
    border: 1px solid #ccc;
    width: 100%;
}

.contact-form .form-submit-btn{
    font-size: 15px;
    background-color: #000;
    color: #fff;
    border: none;
    padding: 10px 16px;
    float: right;
    cursor: pointer;
}

.contact-form .form-submit-btn:hover{
    color: #000;
    background-color: #ccc;
}

/* map section */

.map-section img{
    width: 100%;
}

/* PC */
@media(min-width: 1024px) {

}

/* Tablet */
@media (min-width: 740px) and (max-width: 1023px) {

}

/* Mobile */
@media (max-width: 740) {
 
}
