.slider{
    position: relative;
    margin-top: 46px;
    padding-top: 50%;
    background: url('../../../sliders/slider1.jpeg') top center / cover no-repeat;
}

.slider .text-content{
    position: absolute;
    bottom: 47px;
    color: #fff;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}
.slider .text-heading{
    font-weight: 500;
    font-size: 24px;
}
.slider .text-description{
    font-size: 15px;
    margin-top: 25px;
    text-shadow: 0 0 3px #000;
}

/* PC */
@media(min-width: 1024px) {

}

/* Tablet */
@media (min-width: 740px) and (max-width: 1023px) {
    
}
/* Mobile */
@media (max-width: 739px) {
    .slider .text-content{
        display: none;
    }
}